{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<h2 class="m-3 pt-1 text-center">ADMIN</h2>
<div class="products p-4">
    <div class="container-fluid bg-light p-5 ">
        
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

                <!-- Items -->
                <div class="col">
                    <div class="card mb-4">
                        <img class="card-img-top bg-warning" src="{% static "images/cat.svg" %}" alt="" width="300px"
                            height="250px">
                        <div class="card-body">
                            <h4 class="card-title">Category</h4>
                            <a href="{% url "cat_reg" %}" class="btn btn-outline-primary mr-3">Add</a>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card mb-4">
                        <img class="card-img-top bg-warning p-4" src="{% static "images/bag.svg" %}" alt="" height="250px">
                        <div class="card-body">
                            <h4 class="card-title"> Products</h4>
                            <a href="{% url "pro_reg" %}" class="btn btn-outline-primary mr-3">Add</a>
                            <a href="{% url "products" %}" class="btn btn-outline-secondary">View</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col">
                    <div class="card mb-4">
                        <img class="card-img-top bg-warning p-2" src="{% static "images/user.svg" %}" alt="" height="250px">
                        <div class="card-body">
                            <h4 class="card-title">Users</h4>
                            <a href="{% url "users" %}" class="btn btn-outline-secondary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>
{% endblock content %}